@import "variables";
@import "utilities";

:root {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $lightest-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header.header {
  height: 10vh;
  display: flex;
  align-items: center;
}

section.main {
  height: 85vh;
}

footer.footer {
  height: 5vh;
  display: flex;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.paddle {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  background-color: $light-gray;
  width: $paddle-width;
  height: $paddle-height;
  margin: 1rem;

  .paddle-item {
    width: 2rem;
    height: 2rem;
  }

  .paddle-item.position {
    border-radius: 50%;
    background: white;
  }
}

.deck {
  display: flex;
  flex-direction: row;
}

.draw-pile,
.discard-pile {
  width: $card-width;
  height: $card-height;
  border: 1px solid black;
  border-radius: 0.25rem;
  margin-right: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.card {
  width: $card-width;
  display: block;
}

.hand {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.hand .card {
  transition: margin 500ms;

  &:hover {
    cursor: pointer;
    margin: -1rem 0 1rem 0;
  }
}
